Host dhd-admin dhd-admin.tail833d79.ts.net 100.95.71.54
  HostName dhd-admin
  User Tim Milkewicz
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes
  StrictHostKeyChecking accept-new

Host macbook-air macbook-air.tail833d79.ts.net 100.78.203.120
  HostName macbook-air
  User timmi
  IdentitiesOnly yes
